.reg-main{margin:80px auto;min-height: 200px;}
.reg-box{width: 320px;margin: 0 auto;padding:40px;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);border-radius:4px;}
.read-end{vertical-align: 0;margin-right:5px;}
.icon-success img{width: 40px;}
.sfz-success{display: inline-block;vertical-align: middle;margin-right:5px;}
.sfz-success img{width: 20px;}
/*安全中心*/
.center-left,.center-right{width:20%;background: #fff;color: #5a6978;min-height: 300px;}
.center-right{width:80%;color: #767d85;border-left: 1px solid #eeeff0;background: #fafafb;margin-left: -1px;}
.right-inner{width:98%;border-radius:5px;box-shadow:0 3px 12px rgba(52,63,75,.06);margin:20px 0;color: #767d85;background: #fff;}
.center-left{line-height:45px;padding:10px 0 40px 0;}
.left-title{padding-left: 20px;}
.nav-item a{display: block;color: #5a6978;padding:0 20px 0 30px;}
.nav-item a em{color:#acb2b8;}
.nav-item a.check{background: #4b8cee;color: #fff;}
.nav-item a.check em{background: #4b8cee;color: #b7d4fe;}
.right-top{border-bottom: 1px solid #eeeff0;padding:20px 0;}
.right-main{padding:10px 20px 50px 20px;min-height:500px;}
.md-form-update{width:35%;}

/*index*/
.banner-ul{height:450px;position: relative;}
.banner-ul li{display:block;width:100%;background-size:auto 450px;background-position: center center;
	position: absolute;top:0;left:0;bottom:0;opacity: 0;z-index: -2;background-repeat: no-repeat;}
.banner-ul li.show{opacity: 1;-webkit-transition: 0.3s;transition: 0.3s;z-index:0;}
.banner-progress{width:100%;height:5px;position: absolute;left:0;bottom:0;
	background-image:-webkit-linear-gradient(to right, #00daff, #4a8dee);
	background-image:linear-gradient(to right,#00daff,#4a8dee);
}
.login-out{height:450px;position:relative;margin-top: -450px;}
.login-box{padding:20px 25px 20px 25px;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);border-radius:4px;}
.login-form{width: 280px;}
.hq-nav,.info-fluid{background:#fafbfd;overflow: hidden;}
.hq-nav ul{width: 9999px;}
.hq-nav ul li{display: inline-block;width:236px;height:80px;float: left;text-align: center;position: relative;font-weight: bold;cursor: pointer;overflow: hidden;}
.hq-nav ul li:hover{background: #f4f7fc;}
.hq-nav ul li:before{content:"";width:0;height:3px;background: #4a8dee;position:absolute;left:0;top:0;-webkit-transition: 0.3s;transition: 0.3s;}
.hq-nav ul li.on:before{width: 100%;-webkit-transition: 0.3s;transition: 0.3s;}
.hq-nav ul li.on{background: #f4f7fc;}
.hq-go-left,.hq-go-right{width:17px;position: absolute;top:0;bottom:0;background-size: 17px;background-position: center;background-repeat: no-repeat;}
.hq-go-left{left:-40px;background-image: url("../img/arrow-left.png");}
.hq-go-right{right:-40px;background-image: url("../img/arrow-right.png");}
.info-fluid{padding: 70px 0;}
.info-img img{height: 90px;}
.info-fluid .font13{color: #767d85;}
.bt-line{display:inline-block;width:35px;height: 3px;background: #4a8dee;}
.news-ul li{display: inline-block;width: 30%;float: left;line-height: 1.6;padding-bottom:45px;}
.news-ul li:nth-child(2){margin: 0 5%;}
/*关于我们*/
.about-txt{height:450px;margin-top: -450px;}
.content{box-shadow:0 4px 12px rgba(52,63,75,.06);background: #fff;margin: 45px auto;padding: 35px 0;}
.content p{padding:0 80px;}
.info-box{width: 420px;height:320px;background: rgba(255,255,255,.9);}
.info-box p{padding:0 20px 0 60px;}
.our-link li{display: inline-block;float: left;width: 25%;text-align: center;padding:180px 0;position: relative;}
.our-link li p img{width: 90px;}
.info-pop{height:200px;position: absolute;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);top:5%;left:0;right:0;opacity: 0;z-index: -1;}
.info-pop p.mart40 img{border-radius:50%;width:70px;}
.our-link li:hover .info-pop{opacity: 1;z-index: 0;top:-5%;transition: 0.3s;}


@media screen and (min-width:1900px) {
	body{font-size: 14px;}
	.container-fluid{width: 1920px;margin: 0 auto;}
	.container{width: 1415px;}
	.container-mini{width: 1415px;}
    .header,.header-top,.bg-repeat-y,.header-reg,.footer{width: 100%;}
	/*icon*/
	.icon-up,.icon-down{width:8px;height:15px;background-size: 100%;vertical-align:-1px;}
	.icon-down{vertical-align:-3px;}
	.icon-location, .icon-phone, .icon-mail{width: 20px;height: 20px;}
	/*font-size*/
	.font12{font-size: 14px;}
	.font13{font-size: 15px;}
	.font14{font-size: 18px;}
	.font16{font-size: 19px;}
	.font18{font-size: 20px;}
	.font20{font-size: 24px;}
	.font30{font-size: 35px;}
	.font34{font-size: 40px;}
	/*margin*/
	.mart30{margin-top: 36px;}
	.mart40{margin-top: 46px;}
	.header-top{height: 48px;line-height:48px;}
	.header-nav li a{height:120px;line-height:120px;}
	.reg-nav li a,.header-reg .container{height:96px;line-height: 96px;}
	.footer{font-size:15px;}
	.footer-nav li{padding-top: 40px;}
	.footer-logo{margin-top: 30px;}
	.logo{
		/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
		width: 176px;
		height: 48px;
		background-image: url('../img/logo@x2.png');
		margin-top: -24px;
	}
	.logo-normal{
		/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
		width: 264px;
		height: 72px;
		background-image: url('../img/logo2@x2.png');
		margin-top: -36px;
	}
	.footer-logo{/* 高清显示屏(设备像素比例大于等于1.5)使用2倍图  */
		width: 290px;
		height: 60px;
		background-image: url('../img/logo@x2.png');
		background-size: auto 100%;

	}
	.banner-ul{height:540px;position: relative;}
	.banner-ul li{background-size: auto 540px;}
	.info-box{width: 500px;height: 380px;}
	.about-txt,.login-out{height: 540px;margin-top: -540px;}
	.info-pop{height: 240px;}
	.our-link li:hover .info-pop{top:-14%;}
	.login-form{width: 336px;}
	.md-input_inner, .md-select{height: 46px;font-size: 14px;}
	.md-form-code .md-input + .send{height:43px;margin-left:-1px;}
	.hq-nav ul li{width: 283px;}
	.reg-box{width: 384px;padding:48px;}
	.icon-success img{width: 48px;}
}












