/*
Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ul,ul li,ol,ol li,dl{list-style: none;}
body {
	line-height:1;
	background: #fff;
	font-size: 12px;
	color: #2a3541;
	overflow-x: hidden;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}
em,i{font-style: normal;}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	cursor: pointer;
	text-decoration: none;
	color: #858e99;
}
a:hover{color: #4b8cee;}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}
/*clear*/

.clear {
	clear: both;
	line-height: 0;
	height: 0;
	font-size: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1
}
.container-fluid{width: 100%;}
.container{width:1180px;margin: 0 auto;position: relative;}
.container-mini{width:950px;margin: 0 auto;position: relative;line-height: 2;}
/*margin*/
.mart5{margin-top: 5px;}
.mart10{margin-top: 10px;}
.mart15{margin-top: 15px;}
.mart20{margin-top: 20px;}
.mart30{margin-top: 30px;}
.mart40{margin-top: 40px;}
.mart50{margin-top: 50px;}
.mart60{margin-top: 60px;}
.mart70{margin-top: 70px;}
.marl5{margin-left: 5px;}
.marl10{margin-left: 10px;}
.marl20{margin-left: 20px;}
.marl40{margin-left:40px;}
.marr10{margin-right:10px;}
.marr15{margin-right:15px;}
.marr20{margin-right:20px;}
.noborder{border: 0!important;}
/*padding*/
.p-top20{padding-top: 20px;}
.p-top45{padding-top: 45px;}
.p-bt10{padding-bottom:10px;}
.p-bt15{padding-bottom:15px;}
.p-bt20{padding-bottom: 20px;}
.p-bt80{padding-bottom: 80px;}
.no-padding-top{padding-top:0!important;}
/*color*/
.color-up{color: #52a665!important;}
.color-down{color: #ca413e!important;}
.color-black{color: #000;}
.color-white{color: #fff;}
.color-link{color: #4b8cee!important;}
.color-high{color: #2a3541;}
.color-light{color: #767d85;}
.color-grey{color: #acb2b8;}
.color-no{color: #8d979e;}
.color-success{color: #00ce7d;}
.color-wait{color: #eab22b;}
.color-error{color: #db7f79;}
.color-info{color: #e49558;}
.color-hot{color: #f08f73;}
a.color-link:hover{text-decoration: underline;}
.strong{font-weight: bold;}
/*width*/
.width-60{width: 60px!important;}
.width-90{width: 90px!important;}
.width-110{width: 110px!important;}
.width-160{width: 160px!important;}
.width-145{width: 145px!important;}
/*font-size*/
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font30{font-size: 30px;}
.font34{font-size: 34px;}
.font36{font-size: 36px;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.relative{position: relative;}
.inline-block{display: inline-block;}
.body-bg{background: #fafbfd;}

.bg-repeat-y{background: url("../img/bg.png") right repeat-y;border-top: 1px solid #eeeff0;}
.img-auto img{width:100%;}
/*icon*/
.icon{display: inline-block;background-size:100%;background-position: center;background-repeat: no-repeat;}
.icon-up,.icon-down{width: 5px;height: 9px;background-image: url("../img/icon-up.png");}
.icon-down{background-image: url("../img/icon-down.png");}
.icon-info{width: 12px;height: 12px;background-image: url("../img/icon-info.png");cursor: pointer;}
.icon-info-waring{width: 12px;height: 12px;background-image: url("../img/icon-info-waring.png");cursor: pointer;vertical-align: -2px;}
.icon-waring{width:20px;height: 20px;background-image: url("../img/icon-waring2.png");vertical-align:middle;}
.icon-location,.icon-phone,.icon-mail{width: 15px;height: 15px;vertical-align: middle;}
.icon-location{background-image: url("../img/icon-location.png");}
.icon-phone{background-image: url("../img/icon-phone.png");}
.icon-mail{background-image: url("../img/icon-mail.png");}
.icon-ser{width: 30px;height:30px;background-image: url("../img/icon-search.png");background-size:50%;}
.icon-off{width:26px;height: 26px;position: absolute;top:50%;margin-top: -13px;right:10px;background-position:center;background-image: url("../img/icon-off.png");background-size:70%;background-repeat:no-repeat;z-index: 9999;cursor: pointer;}
.icon-off-grey{width:26px;height: 26px;position: absolute;top:15px;right:10px;background-position:center;background-image: url("../img/icon-off-grey.png");
	background-size:70%;background-repeat:no-repeat;z-index: 9;cursor: pointer;}
.icon-code{width: 38px;height:38px;background-image: url("../img/icon-code.png");background-size: 60%;position: absolute;top:0;right: -45px;cursor: pointer;}
.icon-code2{width: 38px;height:38px;background-image: url("../img/icon-code.png");background-size: 60%;vertical-align:middle;cursor: pointer;position: relative;}
.icon-code img,.icon-code2 img{width: 100px;display: none;position: absolute;left:100%;box-shadow:0 24px 48px rgba(52,63,75,.12);}
.icon-code:hover img,.icon-code2:hover img{display: block;}
.icon-add{width:24px;height:24px;background-image: url("../img/icon-add.png");background-size: 60%;vertical-align: -7px;}
.icon-msg{width:24px;height:24px;background-image: url("../img/icon-msg.png");background-size: 60%;vertical-align: -7px;}
.icon-clock{width:20px;height:20px;background-image: url("../img/icon-clock.png");background-size: 70%;vertical-align: -6px;}
.icon-hot{width:24px;height:24px;background-image: url("../img/icon-hot.png");background-size: 60%;vertical-align: -6px;}
.icon-arrow-left{width:13px;height:24px;background-image: url("../img/icon-arrow-l.png");background-size:60%;vertical-align: -7px;background-position: 0 center;}
.icon-bank-pay,.icon-wechat-pay,.icon-alipay{width:36px;height:36px;background-size: 50%;vertical-align: middle;}
.icon-bank-pay{background-image: url("../img/icon-bankcard.png");}
.icon-wechat-pay{background-image: url("../img/icon-wechat.png");}
.icon-alipay{background-image: url("../img/icon-alipay.png");}
.pay-method .icon{ float: left;}


/*header and footer*/
.header{background: #fff;}
.header-reg{background: #fff;box-shadow:0 4px 12px rgba(52,63,75,.06);}
.header-reg .container{height:80px;}
.reg-nav li{display: inline-block;}
.reg-nav li a{display: inline-block;color: #767d85;line-height:80px;margin: 0 20px;position: relative;}
.reg-nav li a.active{color:#4b8cee;}
.reg-nav li a.active:after{content: '';border-bottom:3px solid #4b8cee;position: absolute;bottom:0;left:5px;right: 5px;}
.logo-r{display:inline-block;margin:25px 0 0 170px;line-height:35px;font-size: 13px;padding-left:20px;color: #767d85;border-left: 2px solid #eeeff0;}
.logo{
	/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
	width: 147px;
	height: 40px;
	background-size: 100%;
	background-image: url('../img/logo@x1.png');
	position: absolute;
	left:0;
	top:50%;
	margin-top: -20px;
}
.logo-normal{
	/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
	width: 220px;
	height: 60px;
	background-size: 100%;
	background-image: url('../img/logo2@x1.png');
	position: absolute;
	left:0;
	top:50%;
	margin-top: -30px;
	background-repeat: no-repeat;
}
.footer{height: 265px;background: #3b4045;color:#b1bcc8;}
.footer-logo{
	/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
	width: 145px;
	height: 30px;
	background-size: 100%;
	background-image: url('../img/logo_grey@x1.png');
	margin-top: 25px;
	background-repeat: no-repeat;
	background-position: right 0;
}
.header-top{height:40px;line-height:40px;background: #3b4045;color:#b1bcc8;}
/*.header-main{height:100px;}*/
.header-nav li{display: inline-block;float: left;}
.header-nav li a{display: inline-block;padding:0 25px;height: 100px;line-height: 100px;color: #767d85;}
.header-nav li a.current{background: #4b8cee;color: #fff;}
.footer-nav li{display: inline-block;margin-right: 40px;padding-top: 35px;}
.footer-nav li a{color:#fff;}
.footer-nav li a:hover{text-decoration: underline;}
.admin-logo{
	/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
	width: 148px;
	height: 42px;
	background-size: 80%;
	background-image: url('../img/logo@x1.png');
	background-position: center;
	position: absolute;
	left:20px;
	top:50%;
	margin-top: -21px;
	background-repeat: no-repeat;
}

.admin-header{height:60px;line-height:60px;background: #fff;border-bottom: 1px solid #eeeff0;position: fixed;top:0;left:0;right:0;padding-right: 40px;}
.admin-header em{display: inline-block;padding: 0 10px;}
.admin-header .admin-logo img{display: inline-block;height:20px;}
.left{width: 239px;border-right: 1px solid #eeeff0;position: fixed;top:61px;left:0;bottom:0;overflow-y: auto;padding-top: 10px;}
.right{position: fixed;top:61px;left:240px;bottom:0;right:0;background: #fafafb;overflow-x: hidden;overflow-y: auto;}
.right-in{margin:20px;min-height:100%;background: #fff;border-radius:5px;box-shadow: 0 0 6px rgba(52,63,75,.02);}
.right-in-title{line-height:50px;border-bottom: 1px solid #eeeff0;padding-left: 20px;}
.right-in-main{padding: 20px;}
/*form*/
.md-form{width: 100%;color: #767d85;}
.md-form-item{margin-bottom:15px;}
.md-form-update .md-form-item{margin-bottom:20px;}
.md-form-item:last-child{margin-bottom:0;}
.form-item-inline .md-form-item{display: inline-block;}
.md-form-item_label{display: inline-block;line-height:20px;color: #767d85;margin-bottom:5px;}
.md-form-item_label + .relative{top:3px;}
.md-form-in-border{border-radius:4px;border:1px solid #eeeff0;padding:15px;}
.form-in-top{border-bottom:1px solid #eeeff0;margin:0 -15px 0 -15px;margin-bottom: 20px;}
.md-form-in-border .form-in-top{margin-top: -15px;padding:15px;}
.md-input{position: relative;}
.md-input_inner,.md-select{
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dbdee6;
	box-sizing: border-box;
	color: #2a3541;
	display: inline-block;
	height: 38px;
	line-height: 1;
	outline: none;
	padding: 0 15px;
	transition: border-color .2s cubic-bezier(.645,.045,.355,1);
	width: 100%;
	font-size: 13px;
	vertical-align: middle;
	position: relative;
}
.md-select{padding: 0 15px 0 12px;}
.md-input_inner2{
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dbdee6;
	box-sizing: border-box;
	color: #2a3541;
	display: inline-block;
	height: 38px;
	line-height: 1;
	outline: none;
	padding: 0 15px;
	transition: border-color .2s cubic-bezier(.645,.045,.355,1);
	width: 100%;
	font-size: 13px;
	vertical-align: middle;
	position: relative;
}
.md-select-normal{border-color: transparent;box-shadow:0 2px 6px rgba(52,63,75,.18);}
.md-input_inner:focus,.md-select:hover{
	outline: none;
	border-color: #409eff;
}
.disable .md-input_inner,.disable .md-input_inner2{background: #fafafb;border-color: #eeeff0;}
.md-button.disable{background: #fafafb;border-color: #eeeff0;cursor:no-drop;color: #ccc;}
.input-time:after{content: '';width:25px;height:25px;display:inline-block;background: url("../img/icon-clander.png") no-repeat center;
	background-size:80%;position:absolute;top:50%;margin-top: -12.5px;right:10px;}

.md-selected {line-height: 38px;position: relative;}
.md-selected:after{content: '';width:12px;height:20px;position: absolute;right:-13px;top:50%;margin-top: -10px;background: url("../img/icon-s.png") no-repeat center;
	background-size: 50%;
}
.md-dropdown{position: absolute;left:0;top:65px;width: 100%;background: #fff;z-index: -10;border-radius: 5px;box-shadow:0 24px 48px rgba(50,64,76,.12);transition: 0.3s;opacity: 0;overflow: hidden;}
.md-dropdown li{line-height: 32px;padding-left: 12px;}
.md-dropdown li:hover,.md-dropdown li.checked{background: #f6f6f9;cursor: pointer;}
.show-dropdown .md-dropdown{z-index: 10;opacity: 1;top:110%;}
.show-dropdown .md-selected:after{background-image: url("../img/icon-s-h.png");}



.md-form-code .md-input{width: 65%;float: left;}
.md-form-code .md-input .md-input_inner{border-radius:4px 0 0 4px;}
.md-form-code .md-input + .send{
	display:block;
	width:35%;
	height:36px;
	line-height:36px;
	text-align:center;
	float: right;
	background: #fafbfd;
	color:#4b8cee;
	border: 1px solid #dbdee6;
	border-left:0;
	border-radius:0 4px 4px 0;
	margin-left: -1px;
	overflow: hidden;
}
.md-form-code .md-input + .send img{width: 100%;height:100%;}
.md-form-code .md-input + .send-again{
	background: #fafbfd;
	color:#767d85;
}
.md-form-item_content{color: #2a3541;font-size: 13px;}
.md-form-label-left .md-form-item_label{margin-bottom: 0;}
.md-form-label-left .md-form-item_content{display: inline-block;}

.md-form-inline .md-form-item{display: inline-block;}
.md-sf-inline .md-form-item{width:20%;}
.md-form-label-in .md-form-item_label{position: absolute;z-index: 2;margin-bottom: 0;line-height: 38px;padding-left: 10px;}
.md-form-label-in .md-input_inner{padding-left: 35%;}
.md-form-label-in .md-input_inner2{padding-left: 35%;}
.md-input_inner span,.unit,.md-input_inner2 span{display: inline-block;line-height:38px;}
.unit{position: absolute;top:0;right:10px;bottom:0;}
.form-message-alert{width:160px;text-align:center;background: #fff;border-radius:5px;box-shadow: 0 0 18px rgba(52,63,75 ,.16);color:#8d979e;font-size:13px;position: absolute;z-index: 11;line-height: 40px;top:50%;left:50%;margin: -20px 0 0 -80px;}


/*搜索*/
.search-box{width:300px;height: 32px;line-height: 30px;background: #fafafb;border-radius:4px;position: relative;}
.ser-input_inner{width:100%;height: 30px;line-height: 30px;padding:0;border:1px solid #eaebed;outline: 0;border-radius:4px;background: #fafafb;text-indent: 10px;}
.search-btn{display:inline-block;border: 0;border-radius:5px;outline: 0;width:40px;background:none;cursor: pointer;position: absolute;top:0;right:0;bottom:0;z-index: 2;}
.ser-input_inner:hover{border-color: #aec7ec;box-shadow: 0 0 18px rgba(75,140,238,.38);}
.ser-input_inner:focus{border-color: #4b8cee;box-shadow: 0 0 18px rgba(75,140,238,.38);}
.input-search:after{
	content: '';width:16px;height:16px;display:inline-block;background: url("../img/icon-search.png") no-repeat center;
	background-size:100%;position:absolute;top:50%;margin-top: -8px;right:10px;
}
.search-group .ser-input_inner{background: #fff;}
.search-group-select{position: absolute;background: #fafafb;top:1px;left:1px;bottom:1px;border-radius:5px 0 0 5px;border-right:1px solid #eaebed;}
.search-group-selected{text-indent:10px;position: relative;}
.search-group-selected:after{content:'';border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #969fa9;position:absolute;top:50%;right:10px;margin-top:-2px;}


.md-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #d8dce5;
	border-color: #d8dce5;
	color: #5a5e66;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	transition: .1s;
	font-weight: 500;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 11px 20px;
	font-size: 14px;
	border-radius:3px;
	box-shadow:0 2px 4px rgba(52,63,75,.16);
	position: relative;
	border: 0;
	outline: 0;
}
a.md-button.md-button-primary:hover{color: #fff;}
.md-button-big{padding: 13px 20px;}
.md-form-inline .md-button{position: relative;top: 2px;}
.md-button-small{padding:6px 10px;font-size: 12px;}
.md-button-text{background: none;border:0;color:#b1bcc8;}
.md-button-block{display: block;width: 100%;}
.md-button-primary {
	color: #fff;
	background-color: #4b8cee;
	border-color: #4b8cee;
}
.md-button-buy {
	color: #fff;
	background-color: #52a665;
	border-color: #52a665;
}
.md-button-sale {
	color: #fff;
	background-color: #ca413e;
	border-color: #ca413e;
}
.md-button-quit{color: #767d85;}
.select-group{cursor: pointer;position: relative;}
.select-group:after{content: "";position: absolute;border-right:5px solid transparent;border-left:5px solid transparent;border-top:5px solid #fff;top:43%;right:-40%;}
.md-button-toggle{padding-right:30px;}
.md-button-toggle:after{content: "";width:20px;height:11px;position: absolute;top:50%;margin-top:-5px;right:4px;background: url("../img/icon-arrow-t.png") no-repeat center;
	background-size: 50%;}
/*message*/
.message-box{width:410px;height: 50px;line-height: 50px;border-radius: 5px;position: fixed;top:-50px;left: 50%;margin-left:-205px;z-index: 100;color: #fff;
	box-shadow: 0 5px 15px rgba(42,53,65,.3),0 0 50px rgba(0,0,0,.03) inset;transition: 0.3s;-webkit-transition: 0.3s;}
.error-message{background: rgba(197,38,41,.85);}
.success-message{background: rgba(37,171,97,.85);}
.icon-message img{width:20px;margin:15px 12px 0 20px;}
.show-message{top:0;transition: 0.3s;-webkit-transition: 0.3s;}
/*col*/
[class*=md-col-]{float: left;box-sizing:border-box;}
.md-col-3{width: 25%;}

.message-pop{background: #404851;padding:15px 10px;color: #fff;position: absolute;border-radius: 4px;
	box-shadow: 0 3px 12px rgba(42,63,65,.3); top:50%;left:25px;font-size: 13px;max-width: 500px;opacity: 0;z-index: -1;transition: 0.5s;}
.icon-info:hover + .message-pop{opacity: 1;z-index: 110;transition: 0.5s;}
.message-pop:before{display:inline-block;content: "";border-top:8px solid transparent;border-bottom:8px solid transparent;
	border-right:8px solid #404851;position: absolute;left:-8px;top:50%;margin-top:-8px;}
.message-pop p{line-height: 2;}
.md-upload{width: 356px;height:196px;border:1px solid #dbdee6;border-radius:3px;cursor: pointer;position: relative;}
.md-upload input[type=file],.md-upload-wechat input[type=file]{width:100%;position: absolute;top:0;left: 0;right:0;bottom:0;opacity: 0;z-index: 2;}
.md-upload{width: 178px;height:98px;}
.upload-demo img{width: 180px;}
.md-upload-wechat,.md-upload-ali{width: 118px;height:118px;border:1px solid #dbdee6;border-radius:3px;cursor: pointer;position: relative;overflow: hidden;}
.up-again:hover:before,.up-again:hover:after{position: absolute;content: '';width: 100%;height: 100%;top:0;left:0;background:rgba(0,0,0,.8);border-radius:2px;}
.up-again:hover:after{background: url("../img/up-wechat2.png") no-repeat;background-size: 100%;}
.md-upload-ali.up-again:hover:after{background: url("../img/up-alipay2.png") no-repeat;background-size: 100%;}

/*page*/
.md-pager{display: inline-block;vertical-align:top;}
.md-pager li{display: inline-block;text-align: center;}
.md-pager li a{display: inline-block;min-width:32px;height: 32px;line-height: 32px;color:#404953;font-size: 13px;border-radius:5px;}
.md-pager li a:hover{background-color: #f6f6f9;}
.md-pager li.active a{color:#fff;background-color: #4b8cee;}
.md-btn-prev,.md-btn-next{border:0;outline:0;width:32px;height: 32px;background: url("../img/icon-page.png") no-repeat center;background-size: auto 50%;cursor: pointer;}
.md-btn-next{transform: rotate(-180deg);}
.page-btn{display:inline-block;vertical-align:top;height: 30px;line-height: 30px;padding:0 20px;border:1px solid #dbdee6;background: #fff;border-radius:5px;color: #858e99;}
.mask{position: fixed; width:100%;left:0;top:0;bottom:0;background: rgba(42,53,65,.6);z-index: 10;display: none;}
.mask-in{position: absolute; width:100%;left:0;top:0;bottom:0;background: rgba(0,0,0,0);z-index: 10;display: none;}
.pop{position: fixed;width: 820px;height:580px;left:50%;top:50%;margin: -290px 0 0 -410px;z-index: 10;background: #fff;
	box-shadow: 0 18px 24px rgba(42,63,65,.12);border-radius:4px;display: none;}
.pop-main{position: absolute;top:51px;left:0;right:0;bottom:0;padding:15px;background: #fafafb;overflow:hidden;overflow-y: auto;}
.pop-main-white{position: absolute;top:51px;left:0;right:0;bottom:0;padding:15px;background: #fff;overflow:hidden;overflow-y: auto;}
.pop-has-bottom{bottom:51px;}
.pop-top{position: relative;min-height:50px;border-bottom: 1px solid #eff0f1;}
.pop-title{line-height: 50px;padding-left: 20px;}
.pop-bottom{position:absolute;height:42px;bottom:0;left:0;right:0;border-top: 1px solid #eff0f1;padding:8px 10px 0 0;}
.pop-msg{line-height: 1.6;}
.pop-main-deal{padding:10px 20px;}
.tab-group a{display: inline-block;width: 49%;float: left;line-height: 38px;text-align: center;color: #8d979e;border:1px solid #eff0f1;}
.tab-group a:first-child{border-radius:4px 0 0 4px;}
.tab-group a:last-child{border-radius:0 4px 4px 0;}
.tab-group a.current{background: #52a665; border-color: #52a665;color: #fff;}
.tab-group a:last-child.current{background-color: #ca413e;border-color: #ca413e;}

.reg-main{margin:80px auto;min-height: 200px;}
.reg-box{width: 320px;margin: 0 auto;padding:30px 40px 30px 40px;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);border-radius:4px;}
.read-end{vertical-align: 0;margin-right:5px;}
.icon-success img{width: 40px;}
.sfz-success{display: inline-block;vertical-align: middle;margin-right:5px;}
.sfz-success img{width: 20px;}
/*安全中心*/
.center-left,.center-right{width:20%;background: #fff;color: #5a6978;min-height: 300px;}
.center-right{width:80%;color: #767d85;border-left: 1px solid #eeeff0;background: #fafafb;margin-left: -1px;}
.right-inner{width:98%;border-radius:5px;min-height: 400px;box-shadow:0 3px 12px rgba(52,63,75,.06);margin:20px 0;color: #767d85;background: #fff;}
.right-inner2{width:98%;margin:20px 0;color: #767d85;min-height: 400px;}
.center-left{line-height:45px;padding:10px 0 40px 0;}
.left-title{padding-left: 20px;}
.nav-item a{display: block;color: #5a6978;padding:0 20px 0 30px;}
.nav-item a em{color:#acb2b8;}
.nav-item a.check{background: #4b8cee;color: #fff;}
.nav-item a.check em{background: #4b8cee;color: #b7d4fe;}
.right-top{border-bottom: 1px solid #eeeff0;padding:20px 0;}
.right-main{padding:10px 20px 50px 20px;min-height:500px;}
.right-main-normal{min-height: ;}
.md-form-update{width:35%;}

/*index*/
.banner-ul{height:450px;position: relative;}
.banner-ul li{display:block;width:100%;background-size:auto 450px;background-position: center center;
	position: absolute;top:0;left:0;bottom:0;opacity: 0;z-index: -2;background-repeat: no-repeat;}
.banner-ul li.show{opacity: 1;-webkit-transition: 0.3s;transition: 0.3s;z-index:0;}
.banner-progress{width:100%;height:5px;position: absolute;left:0;bottom:0;
	background-image:-webkit-linear-gradient(to right, #00daff, #4a8dee);
	background-image:linear-gradient(to right,#00daff,#4a8dee);
}
.login-out{height:450px;position:relative;margin-top: -450px;}
.login-box{padding:20px 25px 20px 25px;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);border-radius:4px;}
.login-form{width: 280px;}
.hq-nav,.info-fluid{background:#fafbfd;overflow: hidden;}
.hq-nav ul{width: 9999px;}
.hq-nav ul li{display: inline-block;width:236px;height:80px;float: left;text-align: center;position: relative;font-weight: bold;cursor: pointer;overflow: hidden;}
.hq-nav ul li:hover{background: #f4f7fc;}
.hq-nav ul li:before{content:"";width:0;height:3px;background: #4a8dee;position:absolute;left:0;top:0;-webkit-transition: 0.3s;transition: 0.3s;}
.hq-nav ul li.on:before{width: 100%;-webkit-transition: 0.3s;transition: 0.3s;}
.hq-nav ul li.on{background: #f4f7fc;}
.hq-go-left,.hq-go-right{width:17px;position: absolute;top:0;bottom:0;background-size: 17px;background-position: center;background-repeat: no-repeat;}
.hq-go-left{left:-40px;background-image: url("../img/arrow-left.png");}
.hq-go-right{right:-40px;background-image: url("../img/arrow-right.png");}
.info-fluid{padding: 70px 0;}
.info-img img{height: 90px;}
.info-fluid .font13{color: #767d85;}
.bt-line{display:inline-block;width:35px;height: 3px;background: #4a8dee;}
.news-ul li{display: inline-block;width: 30%;float: left;line-height: 1.6;padding-bottom:45px;}
.news-ul li:nth-child(2){margin: 0 5%;}
.login-info-pop{position: absolute;width:330px;height:320px;margin:-160px 0 0 -165px;left:50%;top:50%;z-index: 10;background: #fff;
	box-shadow: 0 10px 60px rgba(0,,0,.15);border-radius:4px;overflow: hidden;display: none;}
.login-info{padding: 30px 30px 0 30px;}
.login-info-data{background: #fafafb;border-radius:5px;border: 1px solid #eaebed;overflow: hidden;padding:10px 0;}
.login-info-data table{width: 100%;}
.login-info-data table td{padding:10px 0;line-height: 24px;color: #767d85;}

/*关于我们*/
.about-txt{height:450px;margin-top: -450px;}
.content{box-shadow:0 4px 12px rgba(52,63,75,.06);background: #fff;margin: 45px auto;padding: 35px 0;}
.content p{padding:0 80px;}
.news-content{box-shadow:0 4px 12px rgba(52,63,75,.06);background: #fff;margin: 45px auto;padding:10px 30px;}
.news-title{line-height: 30px;}
.news-txt{color: #767d85;font-size: 13px;line-height:16px;}
.news-content li{border-bottom:1px solid #eeeff0;padding-bottom:15px;margin-bottom:20px;}
.deail-main p{margin-bottom: 10px;}

.info-box{width: 420px;height:320px;background: rgba(255,255,255,.9);}
.info-box p{padding:0 20px 0 60px;}
.our-link li{display: inline-block;float: left;width: 25%;text-align: center;padding:180px 0;position: relative;}
.our-link li p img{width: 90px;}
.info-pop{height:200px;position: absolute;background: #fff;box-shadow:0 3px 12px rgba(52,63,75,.06);top:5%;left:0;right:0;opacity: 0;z-index: -1;}
.info-pop p.mart40 img{border-radius:50%;width:70px;}
.our-link li:hover .info-pop{opacity: 1;z-index: 0;top:-5%;transition: 0.3s;}
/*c2c交易*/
.deal-box{width: 35%;background: #fff;border-radius:5px;box-shadow:0 2px 6px rgba(52,63,75,.08);min-height: 310px;}
.deal-inner{padding:15px 20px;}
.right-narmal-box{background: #fff;border-radius:5px;box-shadow:0 2px 6px rgba(52,63,75,.08);}
.account-info{background: #fafbfd;border:1px solid #e3e7ed;border-radius:4px;padding:15px 10px;}
.account-info .pull-left{width: 33.3%;text-indent: 5px;}
.account-info .pull-left p{line-height: 24px;}
.tab-box{border-top:1px solid #eeeff0;line-height: 50px;background: #fff;}
.tab-box .md-tabs{border-bottom: 0;padding-left: 0;}
.unfinished-order li{margin:0 10px 10px 10px;box-shadow: 0 2px 6px rgba(52,63,75,.08);border-radius:3px;}/*overflow: hidden;*/
.order-table{width: 100%;}
.order-table thead th,.order-table td{padding-left: 20px;color: #767d85;}
.order-table thead th{line-height:30px;border-bottom: 1px solid #eff0f1;}
.order-table td{padding:15px 0 20px 20px;line-height: 20px;vertical-align: top;}
.order-table td:last-child{border-left: 1px solid #eff0f1;}
.td-div-in div{width: 50%;}
.first-p{border-left: 1px solid #eff0f1;padding-left: 10px;}
.td-div-in div:nth-child(2) p:nth-child(2){padding-left: 32px;}
.waiting-order{border-left:3px solid #ca413e;}
.waiting-order tr td:first-child{color: #ca413e;}
.end-order{border-left:3px solid #52a665;}
.end-order tr td:first-child{color: #52a665;}
.order-table tbody tr:first-child{border-bottom:1px solid #eff0f1;}

.deal-box2{height: 415px;}
.data-scroll{ overflow-y:auto;height: 150px;}
.data-scroll-mine{ overflow-y:auto;height: 330px;}

.data-header,.data-list{padding: 0 15px;height: 30px;overflow: hidden;}
.data-header{margin-right: 16px;}
.data-header li,.data-list li{display: inline-block;float: left;width: 15%;line-height:30px;text-indent:5px;}
.data-header li:first-child,.data-list li:first-child{width: 16%;}
.data-header li:last-child,.data-list li:last-child{width: 9%;}
.data-header{border-bottom: 1px solid #eff0f1;}
.line{border-bottom: 1px solid #eff0f1;font-size: 0;line-height: 0;margin:8px 0;}
.online:before{display:inline-block;content:'';width: 4px;height:4px;border-radius:50%;background: #b5babd;position: relative;left:-5px;vertical-align: 2px;}
.online.cur:before{background: #51bd68;}
.data-list li .md-button-small{padding:5px 14px;}
.canvas-big{height:240px;}
.hq-top{padding:14px 20px;background: #fff;border-radius:5px;box-shadow: 0 2px 6px rgba(52,63,75,.08);}
.hq-top .pull-right .pull-left{padding-left:50px;}

.data-header-mine li,.data-list-mine li{display: inline-block;float: left;width: 15%;line-height:30px;text-indent:18px;}
.data-list-mine li{line-height: 40px;}
.data-header-mine{border-bottom:1px solid #eff0f1;}
.data-list-mine:hover{background: #fafafb;}



/*admin*/
.menu-item p{line-height:50px;font-size: 14px;padding-left: 30px;position: relative;cursor: pointer;}
.menu-item p:before{content: '';width:8px;height:8px;position: absolute;background: url("../img/icon-arrow.png") no-repeat center;
	background-size:100%;top:50%;margin-top: -4px;left:10px;transition: 0.3s;-webkit-transition: 0.3s;}
.show-menu p:before{transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
.menu-item li a{display:block;line-height: 45px;padding-left: 40px;color: #5a6978;}
.menu-item li.current a{background: #4b8cee;color:#fff;}
.menu-item ul{display: none;}
.show-menu ul{display: block;}

.md-tabs_head{line-height:50px;}
.md-tabs{height:50px;background: #fff;padding-left:30px;}
.md-tabs_content{border-top: 1px solid #eeeff0;padding-top: 10px;}
.md-tabs span{font-size: 14px;}
.md-tabs a{display: inline-block;border-bottom: 2px solid transparent;font-size: 14px;line-height:48px;padding: 0 20px;color: #5a6978;}
.md-tabs a:hover{color:#4b8cee;}
.md-tabs a.active{border-bottom-color:#4b8cee;color:#4b8cee;}
.md-tabs-normal{line-height: 50px;border-bottom: 1px solid #eeeff0;background: #fff;padding-left: 20px;font-size:14px;}
.md-tabs-normal a{display: inline-block;padding:0 20px;}
.md-tabs-normal a.active{color:#4b8cee;}




.screen-box{background: #f7f7f8;padding:25px 0 15px 0;border-bottom: 1px solid #eeeff0;}
.data-box{padding:20px;position: relative;}
.table-data{background: #fff;border: 1px solid #eff0f1;border-radius: 5px;box-shadow: 0 2px 6px rgba(42,63,65,.08);}
.table-data td{line-height: 40px;border-bottom: 1px solid #eff0f1;padding-left: 20px;}
.table-data thead td{line-height: 30px;}
.table-data-normal{background: #fff;}
.table-data-normal td{line-height: 40px;border-bottom: 1px solid #eff0f1;padding-left: 20px;}
.table-data-normal thead td{line-height: 30px;}
.table-data-normal tr.deal-info td{line-height:20px;background: #eff0f1;padding:20px;}
.deal-list .deal-header,.deal-list .deal-body{width: 100%;}
.deal-list .deal-header{border-bottom: 1px solid #eff0f1;}
.deal-list .deal-body span,.deal-list .deal-header span{display:inline-block;width:12.5%;float:left;line-height: 40px;text-indent:15px;}
.deal-list div.deal-header span{line-height: 30px;}
.deal-list .deal-info {width:100%;background: #eff0f1;display:table;}
.deal-list .deal-info div{display: table-cell;padding:15px;}
.deal-list .deal-info p{line-height:20px;background: #eff0f1;}






.toggle{display:inline-block;width: 20px;height:20px;border-radius:3px;box-shadow:0 2px 10px rgba(52,63,75,.06);text-align: center;vertical-align: middle;position: relative;}
.menu-toggle{border-right:5px solid transparent;border-left:5px solid transparent;border-top:5px solid #989fa9;cursor: pointer;}
.toggle-list{width:70px;position:absolute;z-index:-1;opacity: 0;right:0;top:15px;background: #fff;
	box-shadow:0 2px 15px rgba(52,63,75,.06);padding:5px 0;transition: 0.2s;}
.toggle-list li a{display: block;line-height: 30px;color: #5a6978;padding: 0 10px;}
.toggle-list li{display: block;}
.toggle-list li a:hover{color: #4b8cee;}
.toggle:hover .toggle-list{top:24px;z-index:2;opacity: 1;}
.toggle:hover .menu-toggle{border-top-color: #4b8cee;}
.table-data input[type=checkbox]{vertical-align: 0;}
.handle-box{box-shadow:0 2px 10px rgba(52,63,75,.06);line-height: 55px;position: absolute;left:10px;right:10px;bottom:-30px;background: #fff;font-size: 13px;padding-left: 20px;color: #2a3541;}
.handle-box em{color:#d4d7d9;}
.asset-info{background: #fff;box-shadow: 0 1px 3px rgba(42,63,65,.08);border:1px solid #eeeff0;padding:15px;font-size: 13px;}
.asset-info .asset-num{font-size: 60px;padding:35px 0;}
.icon-coin img{width: 20px;height: 20px;vertical-align: -5px;margin-right: 5px;}
.no-data-info{padding:40px 0;}
.no-data-img img{width:85px;}
.user-info{background: #fff;box-shadow: 0 1px 3px rgba(42,63,65,.08);border:1px solid #eeeff0;}
.user-title{line-height: 30px;border-bottom:1px solid #eeeff0;text-indent: 20px;}
.user-rz-info li{line-height: 50px;padding: 0 20px;color: #767d85;border-top:1px solid #eeeff0;margin-top: -1px;}
.user-rz-info li .pull-right .pull-left{position: relative;bottom:-5px;}
.select-item span{display: inline-block;font-size: 13px;}
.select-item span:hover{color: #4b8cee;}
.select-item dd{display: inline-block;float: left;cursor: pointer;text-align: center;min-width: 80px;margin-right: 20px;}
.pay-box{width:120px;height: 60px;margin-right:10px;background: url("../img/icon-arrow-r.png") no-repeat right center;background-size: 12px auto;position: relative;}
.pay-method{width:130px;position: absolute;background: #fff;box-shadow: 0 12px 24px rgba(52,63,75,.12);border-radius:4px;overflow: hidden;top:100%;left:10px;}
.pay-method dd{display:block;line-height: 36px;padding:0 10px;text-align: left;cursor: pointer;}
.pay-method span{display:inline-block;line-height: 36px;}
.pay-method dd.checked,.pay-method dd:hover{background: #f6f6f9;}
.em-arrow{display: inline-block;border-right:5px solid transparent;border-left:5px solid transparent;border-top:7px solid #8d979e;vertical-align: middle;margin-left: 4px;}
.txt-info{background: #fafbfd;padding:15px 20px;line-height: 24px;border:1px solid #efeff0;border-radius:4px;margin-right:20px;color: #8d979e;}
.pay-box div.text-center{margin-top: -10px;}
.waring-info{background: #fefaef;padding:15px 20px;line-height: 20px;border:1px solid #f3e4b5;border-radius:4px;color: #8d979e;}


@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.up-enter-active {
	-webkit-animation:fadeInUp 1s alternate;
	animation:fadeInUp 1s alternate;
}
.bottom-enter-active {
	-webkit-animation:fadeInBottom 1s alternate;
	animation:fadeInBottom 1s alternate;
}
.left-enter-active {
	-webkit-animation:fadeInLeft 1s alternate;
	animation:fadeInLeft 1s alternate;
}
.right-enter-active {
	-webkit-animation:fadeInRight 1s alternate;
	animation:fadeInRight 1s alternate;
}

@media screen and (min-width:1900px) {
	body{font-size: 14px;}
	.container-fluid{width: 1920px;margin: 0 auto;}
	.container{width: 1415px;}
	.container-mini{width: 1415px;}
    .header,.header-top,.bg-repeat-y,.header-reg,.footer{width: 100%;}
	/*icon*/
	.icon-up,.icon-down{width:8px;height:15px;background-size: 100%;vertical-align:-1px;}
	.icon-down{vertical-align:-3px;}
	.icon-location, .icon-phone, .icon-mail{width: 20px;height: 20px;}
	/*font-size*/
	.font12{font-size: 14px;}
	.font13{font-size: 15px;}
	.font14{font-size: 18px;}
	.font16{font-size: 19px;}
	.font18{font-size: 20px;}
	.font20{font-size: 24px;}
	.font30{font-size: 35px;}
	.font34{font-size: 40px;}
	/*margin*/
	.mart30{margin-top: 36px;}
	.mart40{margin-top: 46px;}
	.header-top{height: 48px;line-height:48px;}
	.header-nav li a{height:120px;line-height:120px;}
	.reg-nav li a,.header-reg .container{height:96px;line-height: 96px;}
	.footer{font-size:15px;}
	.footer-nav li{padding-top: 40px;}
	.footer-logo{margin-top: 30px;}
	.logo{
		/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
		width: 176px;
		height: 48px;
		background-image: url('../img/logo@x2.png');
		margin-top: -24px;
	}
	.logo-normal{
		/* 普通显示屏(设备像素比例小于等于1.3)使用1倍的图 */
		width: 264px;
		height: 72px;
		background-image: url('../img/logo2@x2.png');
		margin-top: -36px;
	}
	.footer-logo{/* 高清显示屏(设备像素比例大于等于1.5)使用2倍图  */
		width: 290px;
		height: 60px;
		background-image: url('../img/logo@x2.png');
		background-size: auto 100%;

	}
	.logo-r{margin:34px 0 0 200px;font-size: 14px;}
	.banner-ul{height:540px;position: relative;}
	.banner-ul li{background-size: auto 540px;}
	.info-box{width: 500px;height: 380px;}
	.about-txt,.login-out{height: 540px;margin-top: -540px;}
	.info-pop{height: 240px;}
	.our-link li:hover .info-pop{top:-14%;}
	.login-form{width: 336px;}
	.md-input_inner, .md-select{height: 46px;font-size: 14px;}
	.md-form-code .md-input + .send{height:43px;margin-left:-1px;}
	.hq-nav ul li{width: 283px;}
	.reg-box{width: 384px;padding:48px;}
	.icon-success img{width: 48px;}
	.no-data-info{padding:80px 0;}
	.no-data-img img{width:170px;}
	.md-form-label-in .md-form-item_label,.md-input_inner span, .unit,.md-selected{line-height: 44px;}
	.unit{right: 20px;}
	.deal-box{min-height: 340px;}
	.message-box .font14{font-size: 14px!important;}
	.md-dropdown li{line-height: 38px;}
	.login-info-data table td{padding:20px 0;line-height: 30px;}
    .deal-box2{height: 500px;}
	.data-header li,.data-list li{line-height:37px;}
    .data-scroll{height: 190px;}
	.data-scroll-mine{height:415px;}
	.canvas-big{height:310px;}
	.order-table td{line-height: 30px;}
	.order-table thead th{line-height: 40px;}
	.icon-info{margin-left:10px;}
	.message-pop{left:25%;}
}












